/* TODO: define all the styles to support a rich markdown document, w math too */

.reactMarkDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-wrap;
}

.reactMarkDown p {
  width: 100%;
  text-align: justify !important;
  text-justify: inter-word !important;
}

.reactMarkDown h1 {
  font-size: 2rem;
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}